@{
    Layout = "_Layout";
}
@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <span class="nav-link text-dark fw-bold fs-5 py-3 d-inline-block"
                  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Welcome, @User.Identity.Name
            </span>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}